<aside class="main-nav-bar">
    <nav>
        <li class="nav-bar-item">
            <a routerLink="/recipes-searching" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/loupe.png" alt="Search">
            </a>
        </li>
    </nav>
    <nav>
        <li class="nav-bar-item">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/images/log-in.png" alt="LogIn">
            </a>
        </li>
    </nav>
</aside>
