<main class="form-signin shadow p-3 mb-5 bg-body rounded">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        <div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
        </div>
    </form>    
</main>
<div class="text-center">
    <a class="btn btn-secondary" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Register an account</a>
</div>