:host {
    margin-left: auto;
    margin-right: auto;
}
#recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ingredients-searcher {
    display: flex;
    flex-direction: row;
    min-height: 300px;
}
#searcher {
    display: block;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
}
#my-list {
    display: block;
    margin-left: auto;
    width: 100%;
    padding: 10px;
}